* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.boomerang {
    width: 120px;
    height: 40px;
    background: orange;
    clip-path: polygon(0 30%, 60% 0, 100% 50%, 60% 100%, 0 70%, 25% 50%);
    position: absolute;
    bottom: 20vh;
    left: 10vw;
  }
