* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    font-family: Arial, sans-serif;
}

#lienzo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
    background: linear-gradient(to bottom, #670000 0%, #0d0102 100%);
}

#zoomIn, #zoomOut {
    position: fixed;
    top: 20px;
    width: 100px;
    height: 35px;
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    z-index: 2;
  }
  
  #zoomIn { left: 20px; }
  #zoomOut { left: 130px; }